@c-dark-red: #802221;
@c-dark-red: #802221;
@c-light-red: #da4745;
@c-brown: #beb580;
@c-light-brown: #fcf7cc;
@c-light-green: #5fda45;


@font-face {
  font-family: 'fs';
  src: url('fonts/fs.ttf') format('truetype');
}

/* Common stuff */


* {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.html {
  table {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);

    thead {
      tr {
        border: none;
        background: none;

        th {
          color: white;
          font-size: 22px;
          padding: 10px;
          border: solid 2px white;
          text-align: center;
        }
      }
    }

    tbody {
      border: none;

      tr {
        background: none;

        td {
          padding: 10px 0;
          border: solid 2px white;
          text-align: center;
        }
      }
    }
  }
}

.main-wrapper {
  font-family: 'fs';
}

ul.menu li {
  background: none;
  list-style: none;
  list-style-image: none;
}

html {
  height: 100%;
}

html, 
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Layout */ 

.main-wrapper {
  background: #56d0ff;
}

.main-header {
  z-index: 2;
  background: url('i/header.png');
}

.main-header .logo {
  display: block;
  width: 312px;
  height: 162px;
  position: absolute;
  top: 5px;
  left: 30px;
  background: url('i/logo.png') no-repeat;
}

.main-content {
  margin-top: -135px;
  margin-bottom: -150px;
  min-height: 700px;

  .right {
    padding-top: 20px;
  }
}

.main-footer {
  background: url('i/footer.png') no-repeat;
}

.main-header-wrapper {
  height: 300px;
  width: 100%;
  background: url('i/page-top.gif');
}

.main-footer-wrapper {
  padding-top: 150px;
  height: 150px;
  width: 100%;
  background: url('i/page-bottom.gif') center;
}

.pane-menu-menu-main {
  ul {
    padding: 0;
    li {
      &.first {
        margin-top: -70px;
        padding-top: 100px;
      }
      margin: 0;
      padding: 30px 0 0 0;
      background: url('i/chain-grey.png');
      a {
        font-weight: bold;
        display: block;
        height: 58px;
        width: 260px;
        font-size: 34px;
        text-decoration: none;
        background: url(/sites/all/themes/main/css/i/wood-menu.png);
        text-align: center;
        padding: 7px 0 0 0;
        color: #444;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.pane-menu-menu-header-menu-anonynous {
  position: absolute;
  right: 20px;
  top: 20px;
  ul {
    li {
      display: block;
      float: left;
      margin-left: 20px;
      a {
        color: @c-dark-red;
        font-size: 26px;
      } 
    }
  }
}

.pane-menu-menu-menu {
  position: absolute;
  top: 54px;
  left: 34px;

  ul {
    li {
      a {
        color: #000;
        font-size: 18px;
      }
    }
  }
}

/* Form wrapper */
form {
  background: url('i/form-mid.png') repeat-y;
  position: relative;
  padding-left: 20px;
  margin: 70px 0 70px 0;
  width: 660px;
  .form-item,
  .form-actions {
    margin: 30px 0 20px 0;
    width: 585px;
  }
  input[type=text],
  input[type=password] {
    font-family: 'fs';
    width: 560px !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 40px;
    border: none;
    border-bottom: solid 5px @c-brown;
    background: none;
    font-size: 30px;
  }

  .form-actions {
    input[type=submit] {
      font: bold 40px 'fs';
      width: 570px;
      margin: 20px 0;
      padding: 0;
      height: 70px;
      border: solid 5px @c-light-green;
      background: url('i/button-bg.png');
      color: #222;
      text-transform: uppercase;
      &:hover {
        color: #fff;
        background-position:0px 70px;
        cursor: pointer;
      }
      &:active {
        color: @c-light-red;
      }
    }
  }
  select {
    height: 40px;
    font-family: 'fs';
    font-size: 25px;
    background: #fcf7cc;
    border: solid 4px #a9996b;
    width: 560px;
  }
}
.form-paper-wrapper {
  margin-top: 20px;
  position: relative;
  width: 680px;
}
.form-paper-wrapper-top {
  position: relative;
  width: 615px;
  padding-right: 65px;
  height: 180px;
  background: url('i/form-top.png') no-repeat;
  margin-bottom: -80px;
  .form-title {
    font-size: 32px;
    text-align: center;
    width: 100%;
    padding-top: 70px;
  }
}
.form-paper-wrapper-bottom {
  width: 680px;
  background: url('i/form-bottom.png') no-repeat;
  height: 270px;
  margin-top: -150px;
}

#user-register-form {
  div.password-strength,
  div.password-confirm,
  .description {
    display: none;
  }
}
#user-login {
  .description {
    display: none;
  }
}

/* challenges */
.challenge-doors {
  height: 100%;
  width: 100%;
  background: #111;
  display: table;
  position: absolute;
}
.challenge-doors {
  .map {
    top: 20px;
    left: 20px;
    position: absolute;
    z-index: 500;

    td {
      background: #555;
      width: 20px;
      height: 20px;
    }

    td.visited {
      background: #da4745;

      &.cur-0 {
        background: #5fda45 url('i/pos-n.png') no-repeat center;
      }
      &.cur-1 {
        background: #5fda45 url('i/pos-e.png') no-repeat center;
      }
      &.cur-2 {
        background: #5fda45 url('i/pos-s.png') no-repeat center;
      }
      &.cur-3 {
        background: #5fda45 url('i/pos-w.png') no-repeat center;
      }
    }
  }
  .wall {
    display: table-cell;
    vertical-align: middle;

    .wall-inner {
      margin: 0 auto;
      height: 720px;
      width: 1280px;
      background: #585858 url('i/doors-bg.jpg')  no-repeat;
      background-position-x: center;
      position: relative;

      .door-left {
        display: block;
        background: url('i/door-left.png');
        height: 504px;
        width: 183px;
        position: absolute;
        top: 216px;
        left: 196px;
      }
      .door-right {
        display: block;
        background: url('i/door-right.png');
        height: 504px;
        width: 183px;
        position: absolute;
        top: 216px;
        left: 908px;
      }
      .door-top {
        display: block;
        background: url('i/door-top.png');
        height: 318px;
        width: 224px;
        position: absolute;
        top: 271px;
        left: 518px;
      }
      .door-bottom {
        height: 40px;
        width: 80px;
        background: #da4745;
        position: absolute;
        bottom: 0;

        text-align: center;
      }
    }
  }
}

/* Binary */
table {
  tbody {
    tr.odd {
      background: url('i/table-bg.png');
    }
  }
}

.binary-table {
  tr {
    background: none;
  }
  td {
    border: solid 1px black;
    height: 30px;
    width: 100px;
    text-align: center;
  }
}

.pane-binary-binary-user-info {
  .in-process {

  }
  .won {
    color: #009000;
  }
  .lost {
    color: #da4745;
  }
  .delivered {
    color: #fff;
  }
}

.binary-menu {
  margin-top: 10px;

  .binary-menu-item {
    float: left;
    width: 220px;
    margin: 0 3px 20px 3px;
    font-size: 13px;

    .price {
      margin: 5px 0 5px 0;
      font-size: 20px;

      span {
        font-size: 24px;
        font-weight: bold;
        color: gold;
      }
    }

    span {
      font-size: 26px;
      color: #fff;
    }
    a {
      font-size: 26px;
      color: #222;
    }
  }
}

.page-user {
  .right {
    .panel-pane {
      margin: 0 0 40px 0;
    }
  }
}

.pane-payment-payment-balance {
  position: absolute;
  top: 10px;
  right: 20px;


  .balance-widget-wrapper {
    padding: 17px 20px 23px 20px;
    width: 140px;
    height: 48px;
    background: url('i/balance-table.png');


    .balance-icon {
      height: 48px;
      width: 48px;
      float: left;
      margin-top: 2px;
      background: url('i/goldcoins.png');
    }
    .balance-text {
      margin: 2px 0 0 5px;
      float: left;


      h2 {
        line-height: 17px;
        font-size: 20px;
      }
      span {
        font-size: 13px;
        line-height: 14px;
        display: block;
        margin-top: 3px;
      }
      a {
        display: block;
        font-size: 13px;
        line-height: 10px;
        margin-top: 3px;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.form-content-inner {
  width: 581px;
}

.prise-item {
  text-align: center;
  border: solid 1px #000;
  padding-top: 5px;
  margin: 3px;
  width: 65px;
  float: left;
}

.prise--actions {
  width: 100%;
  margin-top: 10px;
  
  .prise--action {
    cursor: pointer;
    display: block;
    width: 25%;
    height: 20px;
    float: left;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 20px;
    background: none;
    border-top: 1px solid #434343;
  }
  
  .prise--action--remove {
    border-right: 1px solid #434343;
  }
  
  .prise--action--add {
    border-left: 1px solid #434343;
  }
  
  .prise--quantity {
    display: block;
    width: 50%;
    height: 20px;
    float: left;
    font-size: 12px;
  }
}


.payment-block-wrapper {
  margin-top: 20px;
  .payment {
    background: url('i/coins-bg.png');
    padding: 30px 20px 20px 20px;
    width: 148px;
    height: 190px;
    float: left;

    a {
      display: block;
      height: 30px;
      color: #605036;
      text-decoration: none;
      margin-top: 10px;
      text-align: center;
      border: 3px solid #ae9771;
      line-height: 30px;
      background: #f9dba8;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .coins {
    height: 144px;
  }

  .small-payment {
    .coins {
      background: url('i/bronzecoinsbig.png') no-repeat;
    }
  }
  .middle-payment {
    margin-left: 30px;
    .coins {
      background: url('i/silvercoinsbig.png') no-repeat;
    }
  }
  .big-payment {
    margin-left: 30px;
    .coins {
      background: url('i/goldcoinsbig.png') no-repeat;
    }
  }

  .description {
    margin-top: 10px;
    font-size: 15px;
    color: #555;
  }
}

.pane-menu-menu-admin-menu {
  text-align: center;
  margin-top: 32px;
  font-size: 19px;
}

/*News Block*/
.page-news .pane-page-content,
.pane-views-news-block {
  font-size: 18px;
  margin-top: 26px;

  .pane-content {
    margin-top: 15px;
  }

  .views-row {
    margin-bottom: 17px;
  }

  .views-field-title {
    font-size: 22px;
    float: left;
  }
  .views-field-created {
    font-size: 22px;
    float: right;
  }
  .views-field-created:after {
    clear: both;
  }

  .view-footer {
    margin-top: 10px;
    float: right;
  }
}


.pane-eq-common-eq-footer-copyright {
  position: absolute;
  right: 39px;
  bottom: 12px;

  a {
    background: #222;
    padding: 0 4px 0 2px;

    &:hover {
      color: #56d0ff;
    }
  }
}