.main-header-wrapper,
.main-content-wrapper,
.main-footer-wrapper {
  width: 100%;
}

.main-header,
.main-content,
.main-footer {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.main-header {
  min-height: 150px;
}

.main-content {
}

.main-footer {
  min-height: 150px;
}

.main-content .left {
  float: left;
  width: 260px;
}
.main-content .right {
  width: 680px;
  float: left;
  margin-left: 20px;
}

