html, body {
  background: #222;
  height: 100%;
}

.text-white {
  color: #fff;
}
.player-message-wrapper {
  height: 50px;
  position: relative;
  width: 180px;
  margin: 0 auto;
}
.player-message-wrapper .player-message {
  position: absolute;
  z-index: 10;
  background: #222;
  padding: 10px 20px;
  border-radius: 5px;
  border: solid 2px #fff;
  width: 180px;
  text-align: center;
  font-family: arial;
}

.battle-room-wrapper {
  height: 100%;
  background: #222;
  color: #fff;
}

.battle-wrapper {
  width: 700px;
  margin: 0 auto;
}
.battle-wrapper .battle {
  position: relative;
  height: 500px;
  width: 700px;
  border: solid 5px #bbb;
}
.battle-wrapper  .battle .cell { 
  position: absolute;
  width: 90px;
  height: 90px;
  border: solid 5px #bbb;
  background: #ddd;
}
.battle-wrapper  .battle .cell.to-go { 
  border: solid 5px #90e842;
}

.battle-wrapper .battle .characters {

}

.battle-wrapper .battle .characters .wizard {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url('i/wizard.png') no-repeat;
  z-index: 2;
}

.player-message {
  color: #fff;
}

.user-commands-wrapper {
  width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 5px 0 5px;
}

.user-commands-wrapper .inactive {
  width: 710px;
  height: 52px;
  position: absolute;
  background: #888;
  opacity: 0.5;
}

.user-commands-wrapper .ability {
  float: left;
  margin-right: 10px;
}
.user-commands-wrapper .ability-link {
  height: 48px;
  padding: 2px;
  display: block;
}
.user-commands-wrapper .ability-link.active {
  padding: 0;
  border: solid 2px red;
}
.user-commands-wrapper .ability-link img {
  height: 48px;
  width: 48px;
}
